{% load static %}

<html>

<head>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Akema app</title>
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Akema app</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for template in templates %}
                <p><a href="{% url 'akema_temp' %}" target='_blank'>{{ template }} </a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>